$background-color:#10121A;
$primary-color:#FFAC81;
$light-grey:#AAAAAA;
$dark-grey:#808080;
$project-color1:#FBAFBF;
$project-color2:#8FC9FF;
$project-color3:#FFAEA5;
$main-font: 'Anton',
sans-serif;
$sub-font: 'DM Mono',
monospace;






@keyframes text-slide {
    100% {
        top: -180px;
    }
}


@keyframes typing {
    70% {
        left: 100%;

    }

    100% {
        left: 100%;
    }
}


@mixin button {
    width: 160px;
    height: 40px;
    border-radius: 25px;
    color: white;
    text-align: center;
    box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.2);
    line-height: 40px;
    text-transform: uppercase;
    font-family: $sub-font;
    cursor: pointer;
    transition: all .4s ease;
    font-size: 14px;

    @media (max-width:568px) {
        width: 140px;
        height: 40px;
        font-size: 14px;
    }

    &:hover {
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    }

}


@mixin button2 {
    position: relative;
    width: 160px;
    height: 40px;
    border-radius: 25px;
    color: white;
    text-align: center;
    line-height: 40px;
    text-transform: uppercase;
    font-family: $sub-font;
    cursor: pointer;
    transition: all .4s ease;
    font-size: 14px;
    border: 1px solid $primary-color;

    @media (max-width:768px) {
        background: linear-gradient(#FEAC81, #C46534);
        border: 0px solid $primary-color;
    }


    &:hover {
        border: 1px solid transparent;

        @media (max-width:768px) {
            border: 0px solid $primary-color;
        }

    }

    &:hover:after {
        opacity: 1;
    }

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(#FEAC81, #C46534);
        border-radius: 40px;
        z-index: 2;
        transition: all .4s ease;
        opacity: 0;
    }

    a {
        position: relative;
        color: white;
        z-index: 10;
    }
}




* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

}

a {
   text-decoration: none;
   color: white; 
}

body {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: $background-color;
       
}



//project-navbar-web
.project-navbar-web{
    position: fixed;
    left: 0;
    top: 0;
    padding: 0 40px;
    width: 100vw;
    height: 80px;
    background-color: rgba(16, 18, 26, 0.90);
    z-index: 99;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    transition: all ease .6s;
    

    @media (max-width:569px) {
        display: none;
    }
    
    a{
        color: #909090;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 2px;
        transition: all ease .4s;
        
        &:hover{
            color: #fff;
        }
    }
        svg {
        position: absolute;
        left: 50%;
        top:50%;
        transform: translate(-50%, -50%);
        width: 40px;
        height: 40px;


        }
    }
    


//navbar-web
.navbar-web {
    position: fixed;
    transform: translateX(-50%);
    left: 50%;
    top: 20px;
    width: 600px;
    height: 80px;
    border-radius: 40px;
    background-color: rgba(16, 18, 26, 0.90);
    z-index: 99;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.4);

    @media (max-width:768px) {
        display: flex;
        width: 450px;
    }

    @media (max-width:569px) {
        display: none;
    }

    .menu {
        position: relative;

        &:after {
            content: '';
            position: absolute;
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background: white;
            bottom: 0px;
            transform: translateX(-50%);
            left: 50%;
            transition: all .4s ease;
            opacity: 0;
        }

        &:hover:after {
            bottom: -6px;
            opacity: 1;
        }
    }

    a {
        position: relative;
        color: #D9D9D9;
        text-align: center;
        font-size: 14px;
        width: 120px;
        line-height: 30px;
        font-weight: 300;
        font-family: $sub-font;

        @media (max-width:768px) {
            font-size: 12px;
            width: 90px
        }

    }

    a img, a svg {
        width: 40px;
        height: 40px;

        @media (max-width:768px) {
            width: 36px;
            height: 36px;

        }
    }

}


.navbar-mobile {
    position: fixed;
    padding: 0 30px;
    width: 100%;
    height: 60px;
    background-color: rgba(16, 18, 26, 0.85);
    z-index: 99;
    justify-content: space-between;
    align-items: center;
    display: none;

    #menu-control:checked ~ ul {
        animation: appear .8s ease 1;
        opacity: 1;
        display: flex;
    }



    @media (max-width:568px) {
        display: flex;
    }


    .logo {
        color: white;
        font-size: 18px;
        font-weight: bold;
        display: flex;
        align-items: center;
        position: relative;
        z-index: 99;

        img {
            width: 30px;
            height: 30px;
            margin-right: 10px;

        }
    }

    .menu-btn {
        width: 40px;
        height: 40px;
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        position: relative;
        z-index: 99;

        .hamburger {
            width: 24px;
            height: 3px;
            background: white;
            border-radius: 3px;
            transition: all .4s ease-in-out;

            &::before,
            &::after {
                content: '';
                position: absolute;
                width: 24px;
                height: 3px;
                background: white;
                border-radius: 3px;
                transition: all .4s ease-in-out;

            }

            &::before {
                transform: translateY(-8px);
            }

            &::after {
                transform: translateY(8px);
            }

        }
    }

    /*menu-open animation*/
    @keyframes appear {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    /*hamburger-animation*/
    .menu-btn.open .hamburger {
        background: transparent;
    }

    .menu-btn.open .hamburger::before {
        transform: rotate(45deg) translate(1px, -1px);
    }

    .menu-btn.open .hamburger::after {
        transform: rotate(-45deg) translate(1px, 1px);
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: rgba(16, 18, 26, 0.85);
        top: 0;
        left: 0;
        text-align: left;
        display: none;
        flex-direction: column;
        transition: all .6s ease;
        opacity: 0;
        z-index: 1;
        backdrop-filter: blur(8px);
        padding-top: 40px;

        li {
            display: inline-block;
            margin: 5px 30px;

            h1 {
                color: $primary-color;
                font-size: 32px;
                font-weight: bold;
                text-transform: uppercase;
                padding-top: 40px;
                letter-spacing: 8px;
                font-family: $main-font;
                cursor: default;
            }

            a {
                color: #D9D9D9;
                font-size: 20px;
                line-height: 30px;
                font-weight: 300;
                font-family: $sub-font;

            }
        }
    }
}


#menu-control {
    display: none;
}



.hero-section {
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: $background-color;

    .top-left-pic {
        position: absolute;
        top: 0;
        left: 0;
        width: 200px;

        @media (max-width:568px) {
            width: 140px;
        }
    }

    .top-right-pic {
        position: absolute;
        top: 0;
        right: 0;
        width: 200px;

        @media (max-width:568px) {
            width: 140px;
        }
    }

    .hero-img-wrap {
        position: relative;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;


        img {
            display: none;
        }

        @media (max-width:568px) {
            width: 100%;


            img {
                display: block;
                position: absolute;
                width: 80%;
                bottom: 100px;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        .block {
            position: absolute;
            display: block;
            right: 0;
            bottom: 0;
            width: 60px;
            height: 60px;
            background-color: $background-color;
            z-index: 12;
        }

        iframe {
            position: absolute;
            left: 50%;
            ;
            transform: translateX(-50%);

            @media (max-width:568px) {
                display: none;
            }

        }
    }

    .hero-container {
        position: absolute;
        display: flex;
        width: 80%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 40%;

        h1 {
            color: white;
            font-weight: bold;
            font-size: 60px;
            font-family: 'Anton', sans-serif;
            letter-spacing: 8px;
            cursor: default;

            @media (max-width:680px) {
                font-size: 46px;
            }


            @media (max-width:568px) {
                font-size: 38px;
            }

        }

        h2 {
            color: $primary-color;
            font-size: 13px;
            letter-spacing: 2px;
            margin-bottom: 20px;
            cursor: default;
            font-family: 'DM Mono', monospace;



            @media (max-width:568px) {
                font-size: 12px;
            }
        }
        
        .hero-text-wrapper {
    font-family: 'DM Mono', monospace;
    color: $light-grey;
            font-size: 16px;
            text-align: center;
            
             @media (max-width:568px) {
                font-size: 14px;
                width: 90%;
            }

    .dynamic-text {
        line-height: 36px;
        height: 36px;
        overflow: hidden;
        
        

        li {
            position: relative;
            display: flex;
            justify-content: center;
            top: 0;
            animation: text-slide 12.5s steps(5) infinite;

            span {
                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    height: 22px;
                    top:7px;
                    width: 100%;
                    left: 0;
                    background: $background-color;
                    border-left: 1.5px solid $light-grey;
                    animation: typing 2.5s steps(20) infinite;


                }
            }

        }
    }

}

        p {
            font-size: 16px;
            color: $light-grey;
            width: 540px;
            line-height: 1.5;
            text-align: center;
            

            @media (max-width:680px) {
                font-size: 15px;
                width: 80%;
            }

            @media (max-width:568px) {
                font-size: 13px;
                width: 90%;
            }
        }

    }

    .arrow-go {
        position: absolute;
        display: block;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.1);
        left: 50%;
        bottom: 50px;
        transform: translateX(-50%);
        cursor: pointer;
        box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.4), inset 1px 1px 2px 0px rgba(255, 255, 255, 0.2);
        transition: all ease .4s;
        transform-origin: center center;
        animation: upDown 1.4s ease-in-out infinite;
        z-index: 90;

        img {
            position: absolute;
            width: 16px;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);

        }

    }
}

/*upDown animation*/
@keyframes upDown {
    0% {
        transform: translate(-50%, 0);
    }

    50% {
        transform: translate(-50%, 10px);

        100% {
            transform: translate(-50%, 0);
        }
    }
}


.section-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;

    .divider {
        width: 1px;
        height: 80px;
        background: white;
        margin-bottom: 20px;
    }

    p {
        color: $primary-color;
        font-size: 14px;
        font-family: $sub-font;
        letter-spacing: -1px;

        @media (max-width:568px) {
            font-size: 14px;
        }
    }

    h1 {
        text-transform: uppercase;
        color: white;
        font-size: 30px;
        font-weight: bold;
        font-family: $main-font;
        letter-spacing: 10px;
        margin-left: 3px;

        @media (max-width:568px) {
            font-size: 22px;
        }
    }
}



.project-section {
    position: relative;
    width: 100%;
    padding: 80px 0;

    .project-wrap {

        .project-container {

            position: relative;
            max-width: 1000px;
            width: 1000px;
            height: 400px;
            border-radius: 4px;
            margin: auto;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            z-index: 1;
            margin-bottom: 150px;


            @media (max-width:1040px) {
                width: 86%;
                height: 400px;

            }

            @media (max-width:768px) {
                width: 100%;

            }

            @media (max-width:568px) {
                margin-top: 250px;
                height: 400px;
                width: 100%;

            }

            &:before {
                position: absolute;
                content: '';
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-color: rgba(0, 0, 0, 0.6);

            }


            .project {
                position: relative;
                width: 100%;
                height: 100%;


                .project-content {
                    position: absolute;
                    width: 300px;
                    height: 300px;
                    left: 80px;
                    top: 50px;
                    background: rgba(255, 255, 255, 0.1);
                    border-radius: 20px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;
                    padding: 25px 20px;
                    box-shadow: 6px 6px 20px 2px rgba(0, 0, 0, 0.4);
                    border-top: 1px solid rgba(255, 255, 255, 0.4);
                    border-left: 1px solid rgba(255, 255, 255, 0.4);
                    backdrop-filter: blur(4px);
                    z-index: 10;

                    @media (max-width:1040px) {
                        left: 40px;
                        top: 50px;

                    }

                    @media (max-width:568px) {
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        width: 240px;
                        height: 280px;


                    }




                    h2 {
                        font-size: 12px;
                        color: #DDDDDD;
                        font-family: $sub-font;

                        @media (max-width:568px) {
                            font-size: 10px;

                        }

                    }

                    h1 {
                        font-size: 26px;
                        font-weight: bold;
                        font-family: $main-font;
                        letter-spacing: 2px;
                        margin-bottom: 10px;

                        @media (max-width:568px) {
                            font-size: 20px;

                        }


                    }

                    p {
                        font-size: 16px;
                        color: white;
                        text-align: center;
                        height: 140px;

                        @media (max-width:568px) {
                            font-size: 14px;
                        }
                    }

                    .button {
                        @include button;
                    }
                }

                .project-img {
                    position: absolute;
                    width: 260px;
                    height: 400px;
                    right: 20px;
                    bottom: -40px;
                    z-index: 11;

                    @media (max-width:1040px) {
                        width: 208px;
                        height: 320px;

                    }



                    @media (max-width:568px) {
                        left: 50%;
                        top: -160px;
                        width: 156px;
                        height: 240px;

                        transform: translateX(-50%);

                    }

                }
            }

        }

    }

}


.pj-1 {
    background-image: url(image/pj1-pic.png);

    h1 {
        color: $project-color1;
    }

    .button {
        background: linear-gradient(#FBAFBF, #DC5B78);
    }

    .project-img {
        background: url(image/mb1.png);
        background-size: cover;
    }
}

.pj-2 {
    background-image: url(image/pj2-pic.png);

    h1 {
        color: $project-color2;
    }

    .button {
        background: linear-gradient(#81C9FE, #346EC4);
    }

    .project-img {
        background: url(image/mb2.png);
        background-size: cover;
    }
}


.pj-3 {
    background-image: url(image/pj3-pic.png);

    h1 {
        color: $project-color3;
    }

    .button {
        background: linear-gradient(#FFAEA5, #C35C50);
    }

    .project-img {
        background: url(image/mb3.png);
        background-size: cover;
    }
}


.about-section {
    padding-bottom: 200px;

    .about-wrap {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 800px;
        margin: auto;

        @media (max-width:1040px) {
            width: 80%;

        }

        @media (max-width:568px) {
            flex-direction: column;
        }

        .profile {
            width: 40%;
            height: 320px;

            @media (max-width:1040px) {
                height: 300px;

            }

            @media (max-width:568px) {
                width: 80%;
                height: 300px;
            }

            .picture {
                position: relative;
                display: block;
                margin: auto;
                background-image: url(./image/profile.jpeg);
                background-size: cover;
                background-position: center;
                width: 260px;
                height: 320px;
                border-radius: 20px;
                box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.6);
                z-index: 2;

                .pile-creature {
                    position: absolute;
                    display: block;
                    width: 180px;
                    height: 320px;
                    right: -80px;
                    bottom: -40px;
                    z-index: 4;

                    @media (max-width:568px) {
                        right: -100px;
                    }

                    .block {
                        position: absolute;
                        display: block;
                        right: 0;
                        bottom: 0;
                        width: 50px;
                        height: 50px;
                        background-color: $background-color;
                        z-index: 6;
                    }
                }



                @media (max-width:1040px) {
                    height: 300px;
                    min-width: 200px;
                    width: 80%;

                }

                @media (max-width:568px) {
                    height: 260px;
                    width: 200px;
                }

                &:before {
                    position: absolute;
                    content: '';
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    background-color: rgba(0, 0, 0, 0.25);

                }

            }
        }

        .about-content {
            width: 60%;
            height: 320px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            @media (max-width:1040px) {
                height: 300px;

            }

            @media (max-width:568px) {
                width: 80%;
            }

            p {
                font-size: 16px;
                color: $dark-grey;
                width: 340px;
                margin: 40px auto;
                text-align: center;
                line-height: 24px;

                @media (max-width:1040px) {
                    font-size: 15px;
                    width: 260px;
                    line-height: 22px;
                    margin: 0 auto 20px auto;

                }
            }

            .button {
                @include button2;


            }
        }
    }

}

.testimonial-section {
    padding-bottom: 200px;

}

.slider-content {
    position: relative;
    width: 500px;
    height: auto;
    margin: auto;


    @media (max-width:568px) {
        width: 100vw;

    }

    .glass {
        position: absolute;
        height: 340px;
        width: 420px;
        transform: translateX(-50%);
        top: 0;
        left: 50%;
        border-radius: 20px;
        background: rgba(255, 255, 255, 0.1);
        box-shadow: 2px 2px 20px 2px rgba(0, 0, 0, 0.4);
        border-top: 1px solid rgba(255, 255, 255, 0.4);
        border-left: 1px solid rgba(255, 255, 255, 0.4);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        z-index: 6;

        @media (max-width:568px) {
            width: 80%;
        }

    }

    .cube {
        position: absolute;
        width: 260px;
        top: -120px;
        left: -100px;
        z-index: 2;
        opacity: 0.9;

        @media (max-width:568px) {
            width: 220px;
            top: -100px;

        }
    }

    .cube2 {
        position: absolute;
        width: 320px;
        bottom: -160px;
        right: -120px;
        z-index: 2;
        opacity: 0.9;
        transform: rotate(320deg);

        @media (max-width:568px) {
            display: none;

        }
    }

    .cube3 {
        position: absolute;
        width: 140px;
        bottom: -130px;
        right: 0;
        z-index: 2;
        display: none;
        opacity: 0.9;

        @media (max-width:568px) {
            display: block;

        }
    }

    .arrow-prev {
        left: -40px;
        transition: all ease .4s;

        @media (max-width:568px) {
            display: none;

        }


        &:hover {
            left: -50px;
        }

        &:before {
            position: absolute;
            content: '';
            width: 0;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            height: 0;
            border-style: solid;
            border-width: 5px 8px 5px 0;
            border-color: transparent white transparent transparent;
        }

    }

    .arrow-next {
        right: -40px;
        transition: all ease .4s;


        &:hover {
            right: -50px;
        }

        &:before {
            position: absolute;
            content: '';
            width: 0;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            height: 0;
            border-style: solid;
            border-width: 5px 0 5px 8px;
            border-color: transparent transparent transparent white;
        }

    }

    #arrow {
        position: absolute;
        width: 40px;
        height: 60px;
        top: 50%;
        transform: translateY(-50%);
        background: transparent;
        cursor: pointer;
        z-index: 8;

        &:after {
            position: absolute;
            content: '';
            width: 100%;
            height: 1px;
            background: white;
            top: 50%;
            left: 0;
            transform: translateY(-50%);

        }

        @media (max-width:568px) {
            display: none;

        }

    }

}

.slider {
    position: relative;
    z-index: 10;
    width: 500px;


    @media (max-width:568px) {
        width: 100%;
    }

    .item {
        height: 340px;
        margin: 0px 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        padding: 25px 50px;
        z-index: 10;

        @media (max-width:568px) {
            width: 100%;
            margin: 0px 20px;
            padding: 30px 30px;
        }




        img {
            margin: auto;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background: pink;
            margin-bottom: 5px;
            border: solid white 1px;
            box-shadow: 2px 2px 12px 1px rgba(0, 0, 0, 0.4);

        }

        h1 {
            font-size: 18px;
            color: $primary-color;

            @media (max-width:568px) {
                font-size: 16px;
            }
        }

        h2 {
            font-size: 12px;
            color: $dark-grey;
            margin-bottom: 10px;

            @media (max-width:568px) {
                font-size: 10px;
            }
        }

        p {
            font-size: 15px;
            color: white;

            @media (max-width:568px) {
                font-size: 13px;
            }
        }
    }
}

.slick-dots {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;


    li {
        display: inline-block;
        background: rgba(255, 255, 255, 0.6);
        margin: 10px 5px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        cursor: pointer;

        &.slick-active {
            background: $primary-color;
        }


        button {
            opacity: 0;
        }


    }
}

.skillset-section {
    padding-bottom: 150px;

    .skillset-wrap {
        width: 900px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        margin: auto;

        @media (max-width:1040px) {
            width: 86%;
        }

        @media (max-width:568px) {
            flex-direction: column;
            width: 100%;
        }

        .option {
            width: 400px;
            display: flex;
            flex-direction: column;
            margin-bottom: 40px;

            @media (max-width:1040px) {
                width: 40%;
            }

            @media (max-width:568px) {

                width: 70%;
                margin-bottom: 30px;
            }



            .content {
                position: relative;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-bottom: 6px;

                .tag {
                    font-size: 16px;
                    color: white;

                    @media (max-width:568px) {

                        font-size: 14px;
                    }
                }

                &:after {
                    font-size: 16px;
                    content: attr(per);
                    color: $primary-color;

                    @media (max-width:568px) {

                        font-size: 14px;
                    }
                }
            }

            .skill-bar {
                position: relative;
                width: 100%;
                height: 12px;
                border-radius: 6px;
                background: transparent;
                box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.4);
                display: flex;
                align-items: center;
                padding: 0 5px;

                @media (max-width:568px) {

                    height: 10px;
                }

                &:after {
                    position: absolute;
                    content: '';
                    width: 100%;
                    height: 100%;
                    left: 0;
                    top: 0;
                    border-radius: 6px;
                    background: rgba(255, 255, 255, 0.2);
                    box-shadow: inset 2px 2px 4px 1px rgba(255, 255, 255, 0.5);
                    backdrop-filter: blur(.8px);
                    z-index: 4;
                }

                .skill-per {
                    position: relative;
                    width: 0%;
                    height: 6px;
                    border-radius: 3px;
                    background: $primary-color;
                    z-index: 2;
                    transition: 2s linear;

                    @media (max-width:568px) {

                        height: 5px;
                    }




                }

            }
        }
    }

}


.contact-section {
    padding-bottom: 100px;

    .greet-wrap {
        position: relative;
        width: 80%;
        margin: 0 auto 50px auto;
        text-align: center;

        @media (max-width:568px) {
            margin: 0 auto 20px auto;
        }


        h1 {
            font-size: 46px;
            font-family: $main-font;
            color: white;
            letter-spacing: 5px;

            @media (max-width:1040px) {
                font-size: 40px;
                line-height: 1.2;
            }

            @media (max-width:680px) {
                font-size: 32px;
                line-height: 1.2;
            }

            @media (max-width:568px) {
                font-size: 26px;
                line-height: 1.4;
            }
        }

        p {
            font-size: 14px;
            color: $dark-grey;
            margin: auto;

            @media (max-width:1040px) {
                padding-top: 10px;
            }

            @media (max-width:680px) {
                width: 75%;

            }

            @media (max-width:568px) {

                width: 85%;
            }
        }
    }

    .contact-wrap {
        position: relative;
        width: 80%;
        margin: auto;

        .contact-container {
            width: auto;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin: 0 auto 50px auto;

            @media (max-width:680px) {
                flex-direction: column;
            }


            section {
                text-align: center;
                width: 200px;
                margin: 0 20px;

                @media (max-width:680px) {
                    margin: 20px 0;
                }

                img {
                    width: 100px;
                    height: 100px;
                    margin-bottom: 10px;
                }

                h3 {
                    font-size: 14px;
                    color: $dark-grey;
                    font-family: $sub-font;
                }

                p {
                    font-size: 16px;
                    color: white;

                }
            }
        }


        .button {
            @include button2;
            margin: auto;
        }
    }
}

.footer {
    width: 100%;
    height: 30px;
    color: $light-grey;
    text-align: center;
    font-size: 12px;
}

.topBtn.active {
    opacity: 1;
    cursor: pointer;
    transform: translateY(0);
}

.topBtn {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 40px;
    right: 40px;
    width: 40px;
    height: 40px;
    cursor: default;
    border-radius: 10px;
    background: linear-gradient(#FEAC81, #C46534);
    box-shadow: 1px 4px 20px 1px rgba(0, 0, 0, 0.4);
    z-index: 90;
    transition: .4s ease;
    opacity: 0;
    transform: translateY(20px);

    @media (max-width:568px) {
        width: 32px;
        height: 32px;
        bottom: 25px;
        right: 25px;
    }

    &:hover {
        transform: scale(1.1);
    }

    img {
        width: 16px;
        -webkit-filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.3));

        @media (max-width:568px) {
            width: 14px;
        }
    }
}


/*project-mockup*/
.project-mockup {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;

}

.mockup2 {
    width: 600px;
    bottom: -320px;

    @media (max-width:680px) {
        width: 500px;
        bottom: -220px;
    }

    @media (max-width:568px) {
        width: 300px;
        bottom: -40px;
    }
}

/*project1-icon-anime*/
.icon-anime {
    background: #fff;
    padding: 20px 50px 40px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    @media (max-width:1040px) {
        
    }

    @media (max-width:768px) {
        padding: 10px 8%;
    }

    @media (max-width:568px) {
        padding: 10px 8%;
    }

    .icon-box {
        background: #fff;
        width: 90px;
        height: 90px;
        box-shadow: 0 6px 12px 1px rgba(0, 0, 0, 0.16);
        border-radius: 20px;
        margin: 20px;
        cursor: pointer;
        transition: .4s ease all;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;


        &:hover {
            transform: translateY(-4px);
        }

        @media (max-width:1040px) {
            width: 80px;
            height: 80px;
            border-radius: 16px;
            margin: 15px;
        }

        @media (max-width:768px) {
            width: 72px;
            height: 72px;
            border-radius: 14px;
            margin: 10px 15px;
        }
        
        @media (max-width:684px) {
            margin: 10px 5px;
        }

        @media (max-width:568px) {
            width: 72px;
            height: 62px;
            border-radius: 12px;
            margin: 10px 10px;
            box-shadow: 0 4px 10px 1px rgba(0, 0, 0, 0.12);
        }

        svg {
            width: 36px;

            @media (max-width:1040px) {
                width: 30px;
            }
            
            @media (max-width:768px) {
                width: 26px;
            }

            @media (max-width:568px) {
                width: 22px;
            }

        }

        p {
            font-weight: bolder;
            margin-top: 4px;
            color: #707070;
            font-size: 14px;

            @media (max-width:1100px) {
                font-size: 12px;
            }

            @media (max-width:768px) {
                font-size: 11px;
            }

            @media (max-width:568px) {
                font-size: 8px;
            }
        }
    }
}

/*project3-link-adjustment*/
.pj3-link-container{
    position: relative;
    background-color:#101010;
    padding-bottom: 50px;

a {
    color: #F28273;
    display: block;
    font-size: 18px;
    text-decoration: underline;
    animation: glow infinite ease alternate 1.6s;
    -moz-animation: glow infinite ease alternate 1.6s;
    -webkit-animation: glow infinite ease alternate 1.6s;

    @media (max-width:568px) {
        font-size: 14px;
    }
}

.webflow {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: 12px;
    padding-top: 15px;
    

    @media (max-width:568px) {
        font-size: 10px;
    }

    img {
        width: 26px;
        height: 26px;
        margin-right: 10px;
    }

}
    
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 8px #FBB3A9, 0 0 16px #F9A89D;
    }

    to {
        text-shadow: 0 0 18px #F28273, 0 0 28px #F28273;
    }
}

/*project-content*/

.pj1-bg,.pj2-bg {
    background-color: #fff;
}


   
.project-work {
    margin: 200px auto 50px auto;
    text-align: center;
    position: relative;
    max-width: 1000px;
    

    @media (max-width:1040px) {
        width: 750px;
        margin: 120px auto 50px auto;

    }

    @media (max-width:768px) {
        width: 90%;
        margin: 120px auto 50px auto;

    }

    @media (max-width:568px) {
        margin: -20px auto 50px auto;
    }

    .link-section {
        position: relative;
        margin: 0 auto 50px auto;
        width: 120px;
        height: 40px;
        border-bottom: 1.5px solid #628de3;
        line-height: 50px;
        font-size: 18px;
        overflow: hidden;
        z-index: 1;
        transition: .6s ease all;
        text-transform: capitalize;

        @media (max-width:680px) {

            height: 30px;
            font-size: 14px;
            line-height: 30px
        }


        &:hover {
            transform: translateY(-8px);
        }


        a {
            position: relative;
            width: 100%;
            height: 100%;
            display: block;
            font-weight: bold;
            font-family: $sub-font;
            color: #628de3;
            z-index: 11;


        }
    }

    .video-container {
        margin: auto;
        width: 86%;
        height: 400px;

        @media (max-width:568px) {
            height: 180px;
        }
    }

    .block {
        display: block;
        width: 100%;
        height: 50px;
    }

    > img {
        display: block;
        width: 100%;
        padding: 0;
        margin: 0;
    }
}



/*mascot-card-flip*/
.flip-card-container {
    background: #FAFAFA;
    padding: 20px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1200px;
    flex-wrap: wrap;

    @media (max-width:1040px) {
        padding: 20px 60px;
    }

    @media (max-width:568px) {
        padding: 20px;
    }



    .flip-card {
        position: relative;
        width: 120px;
        height: 168px;
        transform-style: preserve-3d;
        cursor: pointer;
        transition: .8s ease all;
        margin: 20px 30px;
        box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2);
        border-radius: 4px;

        @media (max-width:1040px) {
            width: 100px;
            height: 140px;
            margin: 25px;
        }

        @media (max-width:568px) {
            width: 85px;
            height: 119px;
            margin: 20px;
        }


        &:hover {
            transform: rotateY(180deg);
        }

        .card-front,
        .card-back {
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            backface-visibility: hidden;
            border-radius: 4px;

        }

        .card-back {
            background-image: url(./project1/texture/texture2.png);
            background-repeat: no-repeat;
            background-position: center;

            color: #fff;

            img {
                width: 100%;
            }

        }

        .card-front {
            background-repeat: no-repeat;
            background-position: center;
            color: #fff;

            transform: rotateY(180deg);

            img {
                width: 100%;
            }
        }
    }
}

#svg-anime {
    position: absolute;
    width: 80px;
    top: 20px;
    
    @media (max-width:1040px) {
       width: 70px;
       top: 15px; 
    }

    @media (max-width:568px) {
        width: 60px;
        top: 15px;
    }
}

/*project1-final-page*/
.final-page {
    position: relative;

    img {
        width: 100%;
    }

    a {
        position: absolute;
        bottom: 2%;
        left: 50%;
        transform: translateX(-50%);
        color: #019FDE;
        text-decoration: underline;

        @media (max-width:768px) {
            font-size: 14px;
        }

        @media (max-width:568px) {
            font-size: 10px;

        }
    }
}
